.DS_Store
~$*
.Rhistory
*.snakemake.log
*.fastq.gz
*.fq.gz
.snakemake
validation.txt
*.peaks

TruSeq3-PE.fa

analyses_kmer/output/kraken/*kraken.txt
analyses_kmer/output_old/
analyses_kmer/logs/
analyses_kmer/logs_old/
analyses_kmer/reads/
analyses_kmer/fastqc/
analyses_kmer/snake.txt

analyses_sharkmer/output.old/
analyses_sharkmer/benchmarks
analyses_sharkmer/data
analyses_sharkmer/logs
analyses_sharkmer/snake.txt

analyses_sharkmer/output/*sharkmovie/*.histo
analyses_sharkmer/output/*sharkmovie/*plot.png
analyses_sharkmer/output/*sharkmovie/*.txt
analyses_sharkmer/output/*sharkmovie/*log_plot.mp4
analyses_sharkmer/output/*transformed*.png
analyses_sharkmer/output/*log*.png
analyses_sharkmer/output/*progress*
analyses_sharkmer/output/*freqxcov*
analyses_sharkmer/output/*jellyfish.histo.pdf