.DS_Store
.Rhistory
*.snakemake.log
*.fastq.gz
*.fq.gz
.snakemake
validation.txt
*.peaks

analyses_kmer/output/
analyses_kmer/output_old/
analyses_kmer/logs/
analyses_kmer/logs_old/
analyses_kmer/reads/
analyses_kmer/snake.txt

