.DS_Store
.Rhistory
*.snakemake.log
*.fastq.gz
*.fq.gz
.snakemake
validation.txt
*.peaks

TruSeq3-PE.fa

analyses_kmer/output/kraken/*kraken.txt
analyses_kmer/output_old/
analyses_kmer/logs/
analyses_kmer/logs_old/
analyses_kmer/reads/
analyses_kmer/fastqc/
analyses_kmer/snake.txt

